<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/billing.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="billing">
        <h3>BILLING</h3>
    </div>
    
    <div class="card">
        <div class="head">
            <h2> Customer-Name: {{session['username']}}</h2>
            <h2>Address:{{address[0]}}</h2>
        </div>
        
        <table style="width:300px">
            <tr>
                <th>PRODUCT</th>
                <th>Quantity</th>
                <th>Price</th>
                
            </tr>
            {% for item in data %}
            <tr>
                <td>{{item[0]}}</td>
                <td>{{item[1]}}</td>
                <td>{{item[2]}}</td>
        
            </tr>
            
            {% endfor  %}  
        </table><br><hr>
        <label for="sum">Total : {{sum}}</label><br><br>
    
        <form action="/orders">
            <input type="submit"  value='Confirm' name="" id=""><br><br>
        </form>
    </div>
</body>
</html>